<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Model.MemberDAO">

	<!-- select문은 select, insert문은 insert
	똑같은 이름의 태그 사용
	
	id : DAO와의 연결 매개체
	parameterType : 매개변수 데이터 타입을 명시
	#{필드명} : 바인드변수
	 -->
	
	<insert id="joinService" parameterType="Model.MemberVO">
		insert into t_member values(#{mb_id}, #{mb_pw}, #{mb_dongho}, sysdate)
	</insert>
  
  	<!-- select를 할 때, resultType을 통해서 원하는 VO 또는 List객체로 묶어줄 수 있다.
  		여러개의 데이터를 DB에서 가져올 때, resultType은 한개로 가져올 때랑 같음
  	 -->
  	<select id="loginService" parameterType="Model.MemberVO" 
  			resultType="Model.MemberVO">
  		select * from t_member where mb_id = #{mb_id} and mb_pw = #{mb_pw}
  	</select>
  	
  	<select id="idCheck" resultType="Model.MemberVO">
  		select * from t_member where mb_id = #{mb_id}
  	</select>

	<select id="selectAllNoise" resultType="Model.NoiseVO">
  		select * from t_noise order by noise_date desc
  	</select>
  	
  	<select id="selectNoise" resultType="Model.NoiseVO">
  		select * from t_noise
  		where mb_id = #{mb_id} 
  		order by noise_date desc
  	</select>
  	
  	
</mapper>
